header {
  background: #FFDFE7;
}

header a {
  display: none;
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px 5px;
}

.header-grid {
  display: flex;
  justify-content: space-around;
  padding: 0 15%;
}



.menu{
  display: none;
  display:flex;
  position: absolute;
  width: 100%;
  left: -100%;
  transition: left 0.3s ease-out;
  background: #FFDFE7;
}

.change + .menu{
  left: 0;
}

li >a{
  display: block;
  color: red;
  padding: 0;
  display: flex;
}

li{
    list-style-type: none;
}

.hamburger-label{
  display: none;
  display: flex;
  cursor: pointer;
  margin-left: 5%;
  height: 35px;
  width: 40px;
  padding: 8px 0px 0px 0px;
}

/*  hamburger menu lines & animation */
.bar1, .bar2, .bar3 {
    background-color: red;
    width: 30px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}

/*  phone*/
@media (max-width: 600px) {
  .hamburger-label{
    display: block;
  }
}

/*  tablet*/
@media (min-width: 600px) {
  header a {
    display: block;
  }
  .hamburger-label{
    display: none;
  }
  .menu{
    display:none;
  }
}
